<h1>Cupcakes and instance variables</h1>
<p class="lead">
Take a look at the Cupcake Controller in this app. You have a total of four
controller actions. Two of these already have views, and two have instance
variables defined.

Take the pieces of the puzzle and fit them together!
</p>

<ul>
<li><%= link_to 'Vanilla', vanilla_path %></li>
<li><%= link_to 'Chocolate', chocolate_path %></li>
<li><%= link_to 'Maple Bacon', maple_bacon_path %></li>
<li><%= link_to 'Red Velvet', red_velvet_path %></li>
</ul>
